<nav class="top-nav grey darken-3 mainContent">
  <a href="#" data-activates="sideMenu" class="button-collapse top-nav full hide-on-large-only">
    <i class="material-icons">menu</i>
  </a>
  <div class="page-title">
    {{title}}
  </div>
</nav>

<div class="row mainContent">
    <div class="col s12">
      <div id="{{state}}"></div>
          
    </div>
</div>