<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<div class="card-content">
				<div class="row">
					<h5 class="col s12">Determinacion de costos</h5>
				</div>				
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m6 l6">
					          <input id="Materia" type="text" class="validate">
					          <label for="Materia">Materia Prima</label>
					        </div>					      
						</div>
						<div class="row">
							<div class="input-field col s12 m3 l3">
					          <input id="compra" type="text" class="validate">
					          <label for="compra">Unidad Compra</label>
					        </div>
					        <div class="input-field col s12 m3 l3 offset-m1 offset-l1">
					          <input id="costo" type="number" class="validate">
					          <label for="costo">Costo por Unidad</label>
					        </div>	
					        <div class="input-field col s12 m3 l3 offset-m1 offset-l1">
					          <input id="producido" type="number" class="validate">
					          <label for="producido">Unidades Producidas</label>
					        </div>	
						</div>
						<div class="row">
							<div class="input-field col s12 m3 l3">
					          <input id="Unitario" type="number" class="validate">
					          <label for="Unitario">Precio Unitario</label>
					        </div>
					        <div class="input-field col s12 m3 l3 offset-m1 offset-l1">
					          <input id="costo" type="number" class="validate">
					          <label for="costo">Total</label>
					        </div>	
					        <div class="input-field col s12 m3 l3 offset-m1 offset-l1">
					          <select>
					          	<option>Costo Fijo</option>
					          	<option>Costo Variable</option>
					          	<option>Costo Directo</option>
					          </select>
					          <label for="costo">Tipo de Costo</label>
					        </div>
						</div>
						<div class="row">							
					        <div class="input-field col s12 m3 l3">
					          <select>
					          	<option>Manual</option>
					          	<option>Maquina</option>
					          </select>
					          <label for="produccion">Tipo Produccion</label>
					        </div>
					        <div class="col s12 m3 l3 offset-m1 offset-l1">
					        	<button class="btn waves-effect waves-light grey" id="btnEnviar" type="submit" name="action">
					        		Enviar
   								 	<i class="material-icons right">send</i>
  								</button>
					        </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>