<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<div class="card-content">
				<div class="row">
					<h5 class="col s12">Detalle Obligaciones Laborales</h5>
				</div>
				<div id="tblOL"></div>
			</div>
		</div>
	</div>
</div>