<table class="bordered responsive-table">
	<thead>
		<tr>
			<th></th>
			<th>Clasificacion</th>
			<th>Concepto</th>
			<th>Valor</th>
		</tr>
	</thead>
	<tbody>
		{{#each gastos}}
		<tr>
			<td>
				<input type="checkbox" name="productSelection">
				<label for="productSelection"></label>
			</td>
			<td>{{clasificacion}}</td>
			<td>{{concepto}}</td>
			<td>{{valor}}</td>
		</tr>
		{{/each}}
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td><b>Total Gastos Administrativos:</b> $8.510.114</td>
			<td><b>Total Gastos Ventas:</b> $6.564.706</td>
			<td><b>Total Gastos Operacionales:</b> $15.074.820</td>
		</tr>	
	</tfoot>
</table>